.h-100 {
  height: 100% !important;
}

.select-none {
  user-select: none;
}

.flex-end-center {
  display: flex !important;
  justify-content: flex-end;
  align-items: center;
}

.flex-between-center {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.flex-around-center {
  display: flex !important;
  justify-content: space-around;
  align-items: center;
}

.flex-center-center {
  display: flex !important;
  justify-content: center;
  align-items: center;
}